OneDrive/Desktop/mulesoft/New folder/mulejms1/src/main/mule/mulejms1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="d7bd89d5-a6e9-4b96-a96e-6a2c6b1d25a2" >
		<jms:active-mq-connection specification="JMS_1_0_2b" username="admin" password="admin" >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="mulejms1Flow" doc:id="086af3f4-0405-4b24-8c11-c0937861206b" >
		<jms:listener doc:name="Listener" doc:id="50b98f7d-c848-4c84-8fb5-93a2995d8a04" config-ref="JMS_Config" destination="Q.My.Emp">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="a0ad1b87-a3e1-4d59-acf2-716cc3e4b177" message="data from the queue #[payload]"/>
	</flow>
</mule>
